In [1]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
import matplotlib.pyplot as plt
import os

ModuleNotFoundError: No module named 'prophet'

In [3]:
alcoholDf = pd.read_csv("/home/amritpal-singh/Downloads/Alcohol_Sales.csv")
alcoholDf.head()

         DATE  S4248SM144NCEN
0  1992-01-01            3459
1  1992-02-01            3458
2  1992-03-01            4002
3  1992-04-01            4564
4  1992-05-01            4221

In [4]:
alcoholDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            325 non-null    object
 1   S4248SM144NCEN  325 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.2+ KB

In [5]:
travelDf = pd.read_csv("/home/amritpal-singh/Downloads/Miles_Traveled.csv")
travelDf.head()

         DATE  TRFVOLUSM227NFWA
0  1970-01-01           80173.0
1  1970-02-01           77442.0
2  1970-03-01           90223.0
3  1970-04-01           89956.0
4  1970-05-01           97972.0

In [6]:
travelDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DATE              588 non-null    object
 1   TRFVOLUSM227NFWA  588 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.3+ KB

In [7]:
alcoholDf['DATE'] = pd.to_datetime(alcoholDf['DATE'])
alcoholDf = alcoholDf.rename(columns={'DATE': 'ds', 'S4248SM144NCEN': 'y'})

In [8]:
train_size = int(len(alcoholDf) * 0.8)
train_alcoholDf = alcoholDf[:train_size]
test_alcoholDf = alcoholDf[train_size:]

train_alcoholDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      260 non-null    datetime64[ns]
 1   y       260 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 4.2 KB

In [ ]:
os.environ["NUMEXPR_MAX_THREADS"] = "8"
model = Prophet(weekly_seasonality = False, daily_seasonality=False)
model.fit(train_alcoholDf)

In [ ]:
future = model.make_future_dataframe(periods=len(test_alcoholDf))
forecast = model.predict(future)

In [ ]:
fig = model.plot(forecast)
fig.show()

In [ ]:
true_values = test_alcoholDf['y'].values
predicted_values = forecast['yhat'].iloc[-len(test_alcoholDf):].value

In [ ]:
rmse = np.sqrt(mean_squared_error(true_values, predicted_values))
mae = mean_absolute_error(true_values, predicted_values)

print(f'RMSE: {rmse}')
print(f'MAE: {mae}')

In [ ]:
import pandas as pd
from fbprophet import Prophet
import matplotlib.pyplot as plt

# Sample DataFrame
data = {
    'ds': pd.date_range(start='2000-01-01', periods=260, freq='M'),
    'y': pd.Series(range(260)) + (pd.Series(range(260)) * 0.5).astype(int)  # Example data
}
df = pd.DataFrame(data)

# Ensure that data types are correct
df['ds'] = pd.to_datetime(df['ds'])
df['y'] = df['y'].astype(int)

# Initialize and fit the Prophet model
model = Prophet()
model.fit(df)

# Create a dataframe to hold future predictions
future = model.make_future_dataframe(periods=12, freq='M')

# Make predictions
forecast = model.predict(future)

# Plot the forecast
fig = model.plot(forecast)
plt.show()

# Print the last few predictions
print(forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail())

Importing plotly failed. Interactive plots will not work.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.